@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'Glacial Indifference', sans-serif;
}

.Web-Clientes {
    text-align: center;
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Web-header {
    background-color: black;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.Web-logotipo {
    height: 160px;
    margin-left: 0;
  }

.back-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.header-icons {
    display: flex;
    gap: 45px;
    margin-top: 25px;
    justify-content: flex-end;
    margin-right: 40px;
}

.icon-container {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.icon {
    width: 40px;
    height: 40px;
}

.client-list {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin-left: 120px;
}

.client-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    color: black;
    font-size: 25px;
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
}

.client-item span {
    padding-left: 40px;
    font-weight: bold;
}

.delete-button {
    background: red;
    border-radius: 25%;
    padding: 5px;
    border: none;
    cursor: pointer;
    margin: 5px;
    width: 60px;
    height: 60px;
    display: center; 
}

.delete-button img {
    width: 24px;
    height: 24px;
}


.footer-bar {
    background-color: #D69958;
    height: 5px;
    width: 100%;
    margin-top: 90px;
    position: absolute;
}

.back-icon {
    background: none;
    border: none;
    color: white;
    height: 50px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20%;
    transform: translateY(-50%);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container {
    background: #000000;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    max-width: 90%;
    text-align: center;
  }
  
  .modal-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .modal-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
  }
  
  .no-button {
    background-color: #838383;
    color: white;
  }
  
  .yes-button {
    background-color: #d08b56;
    color: white;
  }
  
  .search-bar {
    margin: 20px auto;
    width: 70%;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  
  .filter-menu {
    position: absolute;
    top: 180px;
    right: 20px;
    background-color: #313130;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 1000;
    padding: 10px; /* Ajuste do padding */
  }  

  .filter-button {
    background: none;
    border: none;
    padding: 5px 10px; /* Ajuste do padding */
    font-size: 16px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    color: white;
    margin-bottom: 2px; /* Reduzido de 5px para 2px */
  }  

.filter-button:hover {
    background-color: #726e6a;
}

.filter-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #313130;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .filter-select option {
    background-color: #313130;
    color: white;
  }

  .filter-divider {
    border-top: 1px solid #555;
    margin: 10px 0;
  }
  
  
/* Responsividade para tablets */
@media (max-width: 768px) {
    .client-list {
        width: 90%;
        margin-left: 0;
    }

    .client-item {
        font-size: 20px;
        padding: 10px;
    }

    .Web-logotipo {
        height: 150px;
    }

    .icon {
        width: 30px;
        height: 30px;
    }

    .header-icons {
        gap: 30px;
    }

    .delete-button {
        width: 50px;
        height: 50px;
    }

    .footer-bar {
        margin-top: 50px;
    }
}

/* Responsividade para smartphones */
@media (max-width: 480px) {
    .Web-header {
        height: 70px;
    }

    .Web-logotipo {
        height: 120px;
    }

    .header-icons {
        gap: 15px;
        margin-bottom: 40px;
    }

    .icon {
        width: 25px;
        height: 25px;
    }

    .client-list {
        width: 100%;
        margin: 0 auto;
    }

    .search-input {
      width: 90%;
      margin: 0 auto;
    }

    .client-item {
        font-size: 18px;
        padding: 5px;
    }

    .delete-button {
        width: 40px;
        height: 40px;
    }

    .footer-bar {
        margin-top: 30px;
    }

    .back-icon {
        height: 40px;
        top: 15%;
        margin-top: -15px;
    }

    .modal-container {
        width: 90%;
        padding: 10px;
    }

    .modal-title {
        font-size: 16px;
    }

    .modal-button {
        padding: 8px 15px;
    }

    .filter-menu {
        width: 150px;
        padding: 10px;
      }
    
      .filter-button,
      .filter-select {
        font-size: 14px;
        padding: 8px;
      }
}