body {
    background-color: white;
    padding: 0;
  }
  
  .Web {
    text-align: center;
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    justify-content: space-between;
    min-height: 100vh;
  }
  
  
  .Web-logo {
    height: 40vmin;
    pointer-events: none
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Web-logo {
      animation: Web-logo-spin infinite 20s linear;
    }
  }
  
  .Web-header {
    background-color: black;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tabbar-title {
    color: white;
    font-size: 22px;
    font-family: 'Glacial Indifference', sans-serif;
    text-align: right;
    width: 100%;
    padding-right: 20px;
  }
  
  
  
  .footer-bar {
    background-color: black;
    height: 5px;
    position: absolute;
    margin-top: 90px;
    width: 100%;
  }
  
  
  .Web-link {
    color: #61dafb;
  }
  
  @keyframes Web-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rectangle {
    background-color: black; /* Cor de fundo azul para todo o botão */
    color: white; /* Cor do texto */
    font-size: 35px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    font-family: 'Glacial Indifference', sans-serif; /* Fonte */
    padding: 10px 40px; /* Espaçamento interno maior para compensar bordas */
    border-radius: 20px; /* Borda arredondada */
    margin: 30px auto; /* Centraliza o elemento */
    width: fit-content; /* Ajuste do tamanho */
    box-shadow: 0 0 0 8px #ffffff; /* Criação da borda externa com box-shadow */
  }
  
  
  .Web-logotipo {
    height: 160px;
    margin-left: 0;
  }
  
  .user-icon {
    height: 40px;
    margin-right: 8px;
    vertical-align: middle;
  }
  
  .passeadores {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
  }
  
  .passeador {
    text-align: center;
    cursor: pointer;
  }
  
  .passeador-foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #ffffff;
  }
  
  .passeador-nome {
    margin-top: 10px;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  
  .passeador-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0; /* Reduzido de 20px para 10px para aproximar o título da seção de passeadores */
    position: relative;
    max-width: 100%; /* Garante que a largura da imagem se ajuste ao tamanho do container */
  }
  
  
  .passeador-titulo img {
    width: 500px; /* Define um tamanho adequado para o SVG */
    height: auto; /* Mantém a proporção da imagem */
  }
  
  .passeador-texto {
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 30px; /* Ajusta o tamanho da fonte */
    font-weight: bold;
    color: white;
    position: absolute; /* Posiciona o texto sobre a imagem */
    top: 20%; /* Centraliza verticalmente */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .back-icon {
    background: none;
    border: none;
    color: white;
    height: 50px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20%;
    transform: translateY(-50%);
}  

.cameras-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 20px 0;
}

.camera-box {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.location-button, .chat-button {
  position: absolute;
  right: 100px;
  bottom: 100px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  color: black;
}

.chat-button {
  bottom: 30px;
}

.popup-icon {
  width: 10px; /* Ajuste o tamanho conforme necessário */
  height: 10px; /* Ajuste o tamanho conforme necessário */
  margin-bottom: 10px;
}

.modal-map-container {
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  height: auto;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-map-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
