.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: white;
  position: relative;
  overflow: hidden;
}

/* Padrão de fundo com o logotipo */
.background-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../NovoLogotipo.svg');
  background-size: 400px;
  background-repeat: repeat;
  opacity: 1;
  z-index: 1;
}

.login-container {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 25px;
  width: 100%;
  max-width: 450px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-Login {
  width: 100%;
  height: 40px; /* Definindo altura fixa para ambos */
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background: #000000;
  color: white;
  font-size: 16px;
  outline: none;
  box-sizing: border-box; /* Garante que padding não afete a largura total */
}

.password-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.password-container .input-Login {
  padding-right: 40px; /* Espaço para o ícone */
}

.password-toggle-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  z-index: 2;
}

.button-Login {
  width: 160px;
  padding: 12px;
  margin-top: 20px;
  background: #ffffff;
  border: none;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:active {
  transform: scale(0.95);
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .login-container {
      width: 90%;
      max-width: 350px;
  }
}

@media (max-width: 480px) {
  .login-container {
      width: 95%;
      max-width: 300px;
  }
}
  