.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logo {
    max-width: 400px; 
    margin-top: 0px;
  }
  input {
    margin: 10px;
    padding: 8px;
    width: 450px;
    height: 35px;
    border: none;
    border-radius: 15px;
    background-color: #D69958;
    outline: none;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #fff;
  }
  
  button {
    padding: 10px;
    width: 160px;
    height: 55px;
    margin-top: 40px;
    border: none;
    border-radius: 15px;
    background-color: #D69958;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-weight: initial;
    font-size: 25px;
    color: #fff;
    cursor: pointer; 
    /*transition: background-color 0.2s ease, transform 0.2s ease;*/
  }
  button:active {
    background-color: #fff;
    color: #D69958;
    transform: scale(0.95);
  }
  .Login label {
    width: 24%;
    margin-top: 10px;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 25px;
    color: #fff;
  }
